@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------
        Generic styling
-------------------------------------------*/
html {
  scroll-behavior: smooth;
}

p a,
ul a,
div a {
  text-decoration: none;
  box-shadow:
    inset 0 -2px 0 rgba(168, 85, 247, 0.5),
    0 2px 0 rgba(168, 85, 247, 0.5);
  transition: box-shadow 0.3s;
  color: inherit;
  overflow: hidden;
}

p a:hover,
ul a:hover,
div a:hover {
  box-shadow:
    inset 0 -30px 0 rgba(168, 85, 247, 0.5),
    0 2px 0 rgba(168, 85, 247, 0.5);
}

/*-------------------------------------------
        Burger menu styling
-------------------------------------------*/

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.dropdown-link {
  position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.theme-switch {
  margin-top: 5px;
}

/*-------------------------------------------
        Hides google translate bar
-------------------------------------------*/

.goog-te-gadget img {
  display: none !important;
}
body > .skiptranslate {
  display: none;
}
body {
  top: 0px !important;
}

/*-------------------------------------------
        Prevents links in post pages from 
        overflowing on parent element  
-------------------------------------------*/

.post-page a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*-------------------------------------------
        Scroll to top Button styles
-------------------------------------------*/

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}

/*-------------------------------------------
        FIXME: find a way to reset styles of leaflet in components
-------------------------------------------*/
.leaflet-marker-icon.leaflet-div-icon {
  background: none;
  border: none !important;
}

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition:
    -webkit-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  -moz-transition:
    -moz-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  -o-transition:
    -o-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition:
    -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition:
    -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
  -o-transition:
    -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
  transition:
    stroke-dashoffset 0.3s ease-out,
    stroke-opacity 0.3s ease-in;
}
